name: Scheduled Docker Job

on:
  # Allow the workflow to be manually triggered
  workflow_dispatch:

  # Schedule runs at specific times
  schedule:

jobs:
  run-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t fh-automation-image .

      - name: Run Docker container
        run: |
          docker run \
            -e SMTP_USER=${{ secrets.SMTP_USER }} \
            -e SMTP_PASSWORD=${{ secrets.SMTP_PASSWORD }} \
            -e FH_USERNAME=${{ secrets.FH_USERNAME }} \
            -e FH_PWD=${{ secrets.FH_PWD }} \
            fh-automation-image